@page
@model EatYourFeats.Pages.FinalGameScreenModel
@{
    ViewData["Title"] = "Game Over";
    var remainingTime = Model.RemainingTime;
    var finalScore = Model.FinalScore;
}

<h1>Game Over</h1>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div>
    <h1>Final Score: <strong>@finalScore</strong></h1>
    <h1>Time Remaining: <strong>@remainingTime</strong></h1>
</div>
<center>
<form method="post" asp-page-handler="ReturnToDashboard">
    <button type="submit">Return to Dashboard</button>
</form>
</center>