@model EatYourFeats.Pages.NoGameInProgressModel
@{
    ViewData["Title"] = "No Game In Progress";
}

<h2>You don't have a game in progress</h2>
<a asp-page="/Dashboard" class="btn btn-primary">Back to Dashboard</a>