@page
@model SplashModel
@{
    Layout = "_SplashLayout";
    ViewData["Title"] = "Splash Page";
}

/*
Programmers: Anakha Krishna
Date created: 11/9/24
Date modified: 11/9/24
Purpose: UI file for Splash page
*/
<div class="text-center">
    <h1>Welcome to Eat Your Feats</h1>
    <p>
        <a class="btn btn-primary" asp-page="/Login">Login</a>
        <a class="btn btn-secondary" asp-page="/Register">Register</a>
    </p>
</div>
