html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inventory-container {
    flex-grow: 1; 
    overflow-y: auto;
    min-height: 20vh; 
    max-height: 60vh;
    padding: 10px;
}

#item-list {
    width: 100%;
}

#item-list img {
    max-width: 50px;
    height: auto;
}
